anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
dill
exceptiongroup
executing
fastjsonschema
fonttools
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
# pywin32  # Commented out for non-Windows platforms
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tomli
tornado
traitlets
typing-extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
xgboost
zipp
